$purple: #6160DC;
$blue: #54C5EB;
$orange: #FFB74A;
$black: #22242C;
$green: #00A389;
$red: #FF4A55;
$white: #FFFFFF;
$grey1: #8E8EA1;
$grey2: #F5F5F5;

$theme-colors-map: (
  purple: $purple,
  blue: $blue,
  orange: $orange,
  black: $black,
  green: $green,
  red: $red,
  white: $white,
  grey1: $grey1,
  grey2: $grey2
);
