.navigation-item {
  h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    user-select: none;

    &:hover {
      transition: 0.2s;
      color: rgb(135, 135, 135);
    }
  }
  h3.active {
    color: rgb(97,96,220)
  }
}