.token-expired-page, .change-password-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .message-container {
    width: 300px;

    h1 {
      font-size: 20px;
      text-align: center;
    }
  }

  h1 {
    text-align: start;
    width: 300px;
  }

  form {
    width: 300px;
  }

  button {
    width: 100%;
  }
}
